@if(loading){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
<h2 mat-dialog-title>Edit user</h2>
<mat-dialog-content>
  <h3>User data</h3>
  <div class="name-wrapper ipt-wrapper">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input [disabled]="loading" matInput placeholder="Max" [(ngModel)]="user.firstName">
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input [disabled]="loading" matInput placeholder="Mustermann" [(ngModel)]="user.lastName">
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>
  <div class="user-details-wrapper ipt-wrapper">
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input [disabled]="loading" matInput placeholder="max.m@gmail.com" [(ngModel)]="user.eMail">
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birth Date</mat-label>
      <input [disabled]="loading" matInput [matDatepicker]="picker" placeholder="3/9/2024" [(ngModel)]="birthDate">
      <!-- <mat-hint>Please enter a date MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
  <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
