<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <h3>User data</h3>
    <div class="name-wrapper ipt-wrapper">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Max" [(ngModel)]="user.firstName">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Mustermann" [(ngModel)]="user.lastName">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
    </div>
    <div class="birth-date-wrapper ipt-wrapper">
        <mat-form-field appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="3/9/2024" [(ngModel)]="birthDate">
            <!-- <mat-hint>Please enter a date MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <h3>Address</h3>
    <div class="address-street-wrapper ipt-wrapper">
        <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" [(ngModel)]="user.streetName">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput placeholder="42" [(ngModel)]="user.streetNumber">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
    </div>
    <div class="address-city-wrapper ipt-wrapper">
        <mat-form-field appearance="outline">
            <mat-label>Zip code</mat-label>
            <input matInput placeholder="01234" [(ngModel)]="user.zipCode">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>City name</mat-label>
            <input matInput placeholder="City" [(ngModel)]="user.city">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</mat-dialog-actions>

