<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-wrapper">
      <img src="assets/img/logo1.png" alt="">
    </div>
    <ul class="menu-wrapper">
      <li routerLink="/dashboard">
        <mat-icon fontIcon="fact_check"></mat-icon>
        <span>Dashboard</span>
        
      </li>
      <li routerLink="/user">
        <mat-icon fontIcon="perm_identity"></mat-icon>
        <span>User</span>
      </li>
    </ul>
  </mat-drawer>

  <div class="mat-sidenav-content">
    <mat-toolbar>
      <mat-icon class="menu-icon-btn" (click)="drawer.toggle()" fontIcon="menu"></mat-icon>
      <span>Simple CRM system</span>
    </mat-toolbar>
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>


