mat-dialog-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.ipt-wrapper{
    display: flex;
    gap: 16px;
    min-width: 600px;
    > mat-form-field{
        width: 50%;
    }
}


.address-street-wrapper{
    > mat-form-field:first-child{
        width: 70%;
    }
    > mat-form-field:last-child{
        width: 30%;
    }
}

.address-city-wrapper{
    > mat-form-field:first-child{
        width: 30%;
    }
    > mat-form-field:last-child{
        width: 70%;
    }
}
